@import 'bootstrap-reboot';

body{
    font-size:16px;
}
header{
    background-color:#d0d0d0;
    padding: 4em;
    h1{
        font-size:2em;
    }
}

.container {
    width:800px;
    max-width:100%;
    margin:0 auto;
    padding:0;
}

.top-nav {
    background-color:$gray-800;
    ul{
        margin:0;
        padding:0;
        font-size:1.2em;
        li{
            display: inline-block;
            a{
                padding:1.2em;
                display: block;
            }
        }
    }
}
