@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

:root {
    --dark: #333;
    --light: #fff;
    --primary: rgb(255, 171, 44);
    --background: var(--dark);
    --text: var(--light);
}

html {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    line-height: 1;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

a {
    color: #0af;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: .5rem 2rem;
    border: .05em solid currentColor;
    color: inherit;
}

.cta {
    --text: var(--primary);
}